{% extends "views/skeleton.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hola!</h1>
    <p class="lead">Te presento tips4trips, la red social para compartir tus futuros viajes y conseguir dinero para
        disfrutarlos al máximo!</p>

    <hr class="my-4">

    <div class="text-center">
        <p>Crea, comparte y promociona tus viajes. O ayuda a los demás en los suyos!</p>
        <a class="btn btn-outline-primary btn-lg centered-button m-*-auto" href="{{access_link}}" role="button">Empezar
            la aventura</a>
    </div>
</div>

{% endblock %}