{% extends "views/skeleton.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead"> This is tips4trips, the social network for sharing and collaborating in your trips!</p>

    <hr class="my-4">

    <div class="text-center">
        <p>Create, share and promote your trips. Or help the community!</p>
        <a class="btn btn-outline-primary btn-lg centered-button m-*-auto" href="{{access_link}}" role="button">Start
            the adventure</a>
    </div>
</div>

{% endblock %}