<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/templates/styles/styles.css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>{{ info.Name }}</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-primary nav">
    <a class="navbar-brand nav-title font-weight-bold">Tips4trips</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user_info.nick!='Login' %}
        <ul class="navbar-nav mr-auto center">
            <li class="nav-item active"></li>
            {% if section=='newTrip' %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/trips/add">Nuevo viaje</a>
            </li>
            {% if section=='manage' %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/trips/manage">Gestionar mis viajes</a>
            </li>
            {% if section=='browse' %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/trips/browse">Buscar viajes</a>
            </li>
        </ul>
        {% endif %}
    </div>

    <div class="btn-group" role="group">
        {% if user_info.nick=='Login' %}
        <a href="{{access_link}}">
            <button class="btn btn-outline-secondary btn-sm" type="button">Iniciar sesión</button>
        </a>
        {% else %}
        <a href="{{access_link}}">
            <button class="btn btn-outline-secondary btn-sm logout" type="button">
                <span>{{user_info.email}}</span>
            </button>
        </a>
        {% endif %}
    </div>
</nav>

{% block content %}
<!-- Here it goes the injected code -->
{% endblock %}

</body>
</html>