{% extends "views/skeleton.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid rounded">
    <div class="container">
        <h1 class="display-4">
            All trips
        </h1>
        <p class="lead">
            Collaborate with the community!
        </p>

        <div class="row">
            <div class="col-lg-12">
                {% if trips %}
                <div class="table-responsive">
                    <input class="form-control" id="myInput" placeholder="Filter..." type="text">

                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th scope="col">
                                User
                            </th>
                            <th scope="col">
                                Place
                            </th>
                            <th scope="col">
                                Start date
                            </th>
                            <th scope="col">
                                End date
                            </th>
                            <th scope="col">
                                Collaborate
                            </th>
                            <th class="no-size" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        {% for trip in trips %}
                        <tr>
                            <td class="font-weight-normal" scope="row">
                                {% print(trip.owner.split("@")[0]) %}
                            </td>
                            <td class="font-weight-normal" scope="row">
                                {{trip.place}}
                            </td>
                            <td class="font-weight-light" scope="row">
                                {{trip.start}}
                            </td>
                            <td class="font-weight-light" scope="row">
                                {{trip.end}}
                            </td>
                            <td>
                                <button class="btn btn-outline-success btn-sm text-uppercase action-button"
                                        data-target="#colaborateModal{{trip.key.id()}}" data-toggle="modal">
                                    <i class="material-icons">
                                        euro_symbol
                                    </i>
                                </button>
                            </td>
                            <td class="no-size">
                                <div class="modal" id="colaborateModal{{trip.key.id()}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content collaborate-modal">
                                            <div class="modal-header">
                                                <h2 class="modal-title">Collaborate with the travel to
                                                    {{trip.place}}</h2>
                                                <button class="close" data-dismiss="modal" type="button">&times;
                                                </button>
                                            </div>
                                            <form action="/trips/collaborate" method="post">
                                                <div class="modal-body">
                                                    <p class="lead">
                                                        Going on <b>{{trip.start}}</b> and back on <b>{{trip.end}}</b>.
                                                    </p>

                                                    <p class="lead">
                                                        <b>{{trip.collectedAmount}}€</b> collected until now.
                                                    </p>

                                                    <div class="input-group mb-3 input-amount">

                                                        <input class="form-control"
                                                               name="amount" placeholder="Amount"
                                                               required type="number">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text">€</span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <input name="trip_key" type="hidden" value="{{trip.key.id()}}">

                                                <div class="modal-footer">
                                                    <button class="btn btn-outline-success" type="submit">
                                                        Collaborate
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <hr class="my-4">

                <p class="lead text-center">No trips yet!</p>
                <div class="text-center add-new">
                    <a href="/trips/add">
                        <button class="btn btn-outline-info" type="button">
                            Add new trip
                        </button>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% endblock %}