{% extends "views/skeleton.html" %}
{% block content %}

<div class="jumbotron jumbotron-fluid rounded">
    <div class="container">
        <h1 class="display-4">
            My trips
        </h1>
        <p class="lead">
            If you continue like that... You'll no longer remember from where you came from!
        </p>
        {% if trips %}
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead>
                        <tr>
                            <th scope="col">
                                Place
                            </th>
                            <th scope="col">
                                Collection
                            </th>
                            <th scope="col">
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trip in trips %}
                        <tr>
                            <td class="font-weight-normal">
                                {{trip.place}}
                            </td>
                            <td class="font-weight-light">
                                {{trip.collectedAmount}}€
                            </td>
                            <td class="action-buttons">
                                <button class="btn btn-outline-info btn-sm text-uppercase action-button"
                                        data-target="#detailModal{{trip.key.id()}}" data-toggle="modal">
                                    <i class="material-icons">
                                        remove_red_eye
                                    </i>
                                </button>
                                <button class="btn btn-outline-danger btn-sm text-uppercase action-button"
                                        data-target="#deleteModal{{trip.key.id()}}" data-toggle="modal">
                                    <i class="material-icons">
                                        delete
                                    </i>
                                </button>
                            </td>
                            <td>
                                <div class="modal" id="detailModal{{trip.key.id()}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content info-modal">
                                            <div class="modal-header">
                                                <h2 class="modal-title">Details of the trip to {{trip.place}}</h2>
                                                <button class="close" data-dismiss="modal" type="button">&times;
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <p class="lead">
                                                    Going on <b>{{trip.start}}</b> and return on <b>{{trip.end}}</b>.
                                                </p>
                                                <p class="lead">
                                                    <b>{{trip.collectedAmount}}€</b> collected!
                                                </p>

                                                <hr class="my-4">

                                                {% if collaborations[trip.key.id()] %}

                                                <h3>Collaborations history:</h3>

                                                <table class="table text-center history">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">
                                                            Date
                                                        </th>
                                                        <th scope="col">
                                                            User
                                                        </th>
                                                        <th scope="col">
                                                            Amount
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for c in collaborations[trip.key.id()]: %}
                                                    <tr>
                                                        <td>
                                                            {{c.date}}
                                                        </td>
                                                        <td>
                                                            {% print(c.user.split("@")[0]) %}
                                                        </td>
                                                        <td>
                                                            {{c.amount}}€
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                {% else %}
                                                <h3>No collaborations yet!</h3>
                                                {% endif%}
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-outline-info" data-dismiss="modal"
                                                        type="button">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal" id="deleteModal{{trip.key.id()}}">
                                    <div class="modal-dialog">
                                        <div class="modal-content delete-modal">
                                            <div class="modal-header">
                                                <h2 class="modal-title">Are you sure to delete the {{trip.place}}
                                                    trip?</h2>
                                                <button class="close" data-dismiss="modal" type="button">&times;
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <p class="lead">
                                                    Going on {{trip.start}} and return on {{trip.end}}.
                                                </p>
                                                <p class="lead">
                                                    {{trip.collectedAmount}}€ collected!
                                                </p>
                                            </div>

                                            <div class="modal-footer">
                                                <form action="/trips/delete?trip_key={{trip.key.id()}}" method="post">
                                                    <button class="btn btn-outline-danger" type="submit">
                                                        Delete trip
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% else %}

        <hr class="my-4">

        <p class="lead text-center">You don't have trips yet!</p>
        <div class="text-center add-new">
            <a href="/trips/add">
                <button class="btn btn-outline-info" type="button">
                    Add new trip
                </button>
            </a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}